include ../block.pug
- var data = require('@data/ywbk')
  
div(class="tab-content sj_ywbk sj_finance show")
  +block-template(data.finance)
div(class="tab-content sj_ywbk sj_allfinance")
  +block-template(data.allfinance)
div(class="tab-content sj_ywbk sj_culture2")
  +block-template(data.culture)
div(class="tab-content sj_ywbk sj_health")
  +block-template(data.health)
div(class="tab-content sj_ywbk sj_restaurant")
  +block-template(data.restaurant)
div(class="tab-content sj_ywbk sj_estate")
  +block-template(data.estate)
