//- 关于我们
- var aboutus = require('@data/aboutus')
include ../commons/title/index-title.pug

div(class="about-us")
  +index-title(aboutus.cn_name, aboutus.en_name)
  div(class="about-list")
    each desc in aboutus.list && aboutus.list.length ? aboutus.list : []
      div(class="about-item")
        div(class="icon")
        div(class="desc")= desc