.sj_contact_us {
  width: 100%;
  min-height: 759px;
  background: url('../../imgs/other/second/contactus-bg.jpg') no-repeat;
  background-position: center top;
}

.sj_contact_us .sj_wrapper {
  position: relative;
  background: #eee;
}

.sj_contact_us .sj_second-title span:nth-of-type(1) {
  color: #fff;
}

.sj_contact_us .sj_second-title span:nth-last-of-type(1) {
  color: #a7a7a7;
}

.sj_tag {
  position: absolute;
  top: 0;
  left: 36px;
  width: 24px;
  height: 36px;
}

.sj_contact_us .sj_left,
.sj_contact_us .sj_right {
  float: left;
  width: 50%;
}

.sj_contact_us .sj_left {
  background: url(../../imgs/other/second/sj_dot.png) right top repeat-y;
  padding: 60px 80px;
}

.sj_ct_logo img,
.sj_ct_logo span {
  display: inline-block;
  vertical-align: middle;
}

.sj_ct_logo img {
  width: 124px;
  height: 124px;
}

.sj_ct_logo span {
  margin-left: 32px;
  font-size: 24px;
  color: #666;
}

.sj_ct_list,
.sj_qr_list {
  padding-left: 0;
}

.sj_ct_item {
  position: relative;
  list-style: none;
  padding-left: 24px;
  margin: 26px 0;
  font-size: 18px;
  color: #666;
}

.sj_ct_item img {
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
}

.sj_qr_list {
  margin: 156px 0;
  font-size: 18px;
  color: #666;
}

.sj_qr_item {
  list-style: none;
  float: left;
  margin: 0 20px;
  text-align: center;
}

.sj_qr_item img {
  width: 112px;
  height: 112px;
}


.sj_qr_item .sj_qr_des {
  margin-top: 16px;
}

.sj_qr_item span {
  display: block;
}