
@import "@css/path.scss";

.sj_contactus {
  width: 100%;
  min-height: 759px;
  background: url('#{$img-other}/second/contactus-bg.jpg') no-repeat;
  background-position: center top;
}

.sj_contactus .sj_wrapper {
  position: relative;
  background: #eee;
  display: flex;
}

.sj_contactus .sj_second-title span:nth-of-type(1) {
  color: #fff;
}

.sj_contactus .sj_second-title span:nth-last-of-type(1) {
  color: #a7a7a7;
}

.sj_tag {
  position: absolute;
  top: 0;
  left: 36px;
  width: 24px;
  height: 36px;
}

.sj_contactus .sj_left {
  padding: 60px 80px;
}

.sj_ct-logo img,
.sj_ct-logo span {
  display: inline-block;
  vertical-align: middle;
}

.sj_ct-logo img {
  width: 124px;
  height: 124px;
}

.sj_ct-logo span {
  font-size: 24px;
  color: #666;
}

.sj_ct-list,
.sj_qr-list {
  padding-left: 0;
}

.sj_ct-item {
  position: relative;
  list-style: none;
  padding-left: 24px;
  margin: 26px 0;
  font-size: 18px;
  color: #666;
}

.sj_ct-item img {
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
}

.sj_qr-list {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #666;
}

.sj_qr-item {
  flex-grow: 1;
  list-style: none;
  text-align: center;
}

.sj_qr-item img {
  width: 112px;
  height: 112px;
}


.sj_qr-item .sj_qr_des {
  margin-top: 16px;
}

.sj_qr-item span {
  display: block;
}


@media(min-width: 992px) {
  .sj_contactus .sj_wrapper {
    flex-flow: row nowrap;
  }

  .sj_contactus .sj_left,
  .sj_contactus .sj_right {
    width: 50%;
  }

  .sj_contactus .sj_left {
    background: url('#{$img-other}/second/sj_dot.png') right top repeat-y;
  }

  .sj_ct-logo span { 
    margin-left: 32px;
  }
}

@media(max-width: 991px) {
  .sj_contactus .sj_wrapper {
    flex-direction: column;
  }

  .sj_contactus .sj_left,
  .sj_contactus .sj_right {
    width: 100%;
  }

  .sj_ct-logo {
    text-align: center;
  }

  .sj_ct-logo span { 
    display: block;
    padding: 18px 0;
  }
}