.tab-content {
  margin-top: 70px;
  text-align: left;
  font-size: 16px;
  color: #666;
}

.tab-content p {
  text-indent: 2em;
}

@media(max-width: 991px) {
  .tab-content img {
    width: 100%;
    height: auto;
  }
}
