- var banner = require('@data/banner.js')

div(id="banner")
  div(class="carousel")
    div(class="carousel-inner")
      each item in banner ? banner : []
        div(class="carousel-item")
          a(href=item.href title=item.title)
            img(src=item.img alt=item.title)