- var banner = require('@data/banner.js')

div(id="banner")
  div(class="carousel swiper-container")
    div(class="carousel-inner swiper-wrapper")
      each item in banner ? banner : []
        div(class="carousel-item swiper-slide")
          a(href=item.href target="_blank" title=item.title)
            img(src=item.img alt=item.title)
    <p class="carousel-indicators"></p>