// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$product-us-01-name: 'product-us_01';
$product-us-01-x: 112px;
$product-us-01-y: 0px;
$product-us-01-offset-x: -112px;
$product-us-01-offset-y: 0px;
$product-us-01-width: 112px;
$product-us-01-height: 112px;
$product-us-01-total-width: 448px;
$product-us-01-total-height: 336px;
$product-us-01-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-01: (112px, 0px, -112px, 0px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_01', );
$product-us-02-name: 'product-us_02';
$product-us-02-x: 0px;
$product-us-02-y: 224px;
$product-us-02-offset-x: 0px;
$product-us-02-offset-y: -224px;
$product-us-02-width: 112px;
$product-us-02-height: 112px;
$product-us-02-total-width: 448px;
$product-us-02-total-height: 336px;
$product-us-02-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-02: (0px, 224px, 0px, -224px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_02', );
$product-us-03-name: 'product-us_03';
$product-us-03-x: 0px;
$product-us-03-y: 112px;
$product-us-03-offset-x: 0px;
$product-us-03-offset-y: -112px;
$product-us-03-width: 112px;
$product-us-03-height: 112px;
$product-us-03-total-width: 448px;
$product-us-03-total-height: 336px;
$product-us-03-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-03: (0px, 112px, 0px, -112px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_03', );
$product-us-04-name: 'product-us_04';
$product-us-04-x: 112px;
$product-us-04-y: 112px;
$product-us-04-offset-x: -112px;
$product-us-04-offset-y: -112px;
$product-us-04-width: 112px;
$product-us-04-height: 112px;
$product-us-04-total-width: 448px;
$product-us-04-total-height: 336px;
$product-us-04-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-04: (112px, 112px, -112px, -112px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_04', );
$product-us-05-name: 'product-us_05';
$product-us-05-x: 224px;
$product-us-05-y: 0px;
$product-us-05-offset-x: -224px;
$product-us-05-offset-y: 0px;
$product-us-05-width: 112px;
$product-us-05-height: 112px;
$product-us-05-total-width: 448px;
$product-us-05-total-height: 336px;
$product-us-05-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-05: (224px, 0px, -224px, 0px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_05', );
$product-us-06-name: 'product-us_06';
$product-us-06-x: 224px;
$product-us-06-y: 112px;
$product-us-06-offset-x: -224px;
$product-us-06-offset-y: -112px;
$product-us-06-width: 112px;
$product-us-06-height: 112px;
$product-us-06-total-width: 448px;
$product-us-06-total-height: 336px;
$product-us-06-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-06: (224px, 112px, -224px, -112px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_06', );
$product-us-07-name: 'product-us_07';
$product-us-07-x: 0px;
$product-us-07-y: 0px;
$product-us-07-offset-x: 0px;
$product-us-07-offset-y: 0px;
$product-us-07-width: 112px;
$product-us-07-height: 112px;
$product-us-07-total-width: 448px;
$product-us-07-total-height: 336px;
$product-us-07-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-07: (0px, 0px, 0px, 0px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_07', );
$product-us-08-name: 'product-us_08';
$product-us-08-x: 112px;
$product-us-08-y: 224px;
$product-us-08-offset-x: -112px;
$product-us-08-offset-y: -224px;
$product-us-08-width: 112px;
$product-us-08-height: 112px;
$product-us-08-total-width: 448px;
$product-us-08-total-height: 336px;
$product-us-08-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-08: (112px, 224px, -112px, -224px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_08', );
$product-us-09-name: 'product-us_09';
$product-us-09-x: 224px;
$product-us-09-y: 224px;
$product-us-09-offset-x: -224px;
$product-us-09-offset-y: -224px;
$product-us-09-width: 112px;
$product-us-09-height: 112px;
$product-us-09-total-width: 448px;
$product-us-09-total-height: 336px;
$product-us-09-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-09: (224px, 224px, -224px, -224px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_09', );
$product-us-10-name: 'product-us_10';
$product-us-10-x: 336px;
$product-us-10-y: 0px;
$product-us-10-offset-x: -336px;
$product-us-10-offset-y: 0px;
$product-us-10-width: 112px;
$product-us-10-height: 112px;
$product-us-10-total-width: 448px;
$product-us-10-total-height: 336px;
$product-us-10-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-10: (336px, 0px, -336px, 0px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_10', );
$product-us-11-name: 'product-us_11';
$product-us-11-x: 336px;
$product-us-11-y: 112px;
$product-us-11-offset-x: -336px;
$product-us-11-offset-y: -112px;
$product-us-11-width: 112px;
$product-us-11-height: 112px;
$product-us-11-total-width: 448px;
$product-us-11-total-height: 336px;
$product-us-11-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-11: (336px, 112px, -336px, -112px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_11', );
$product-us-12-name: 'product-us_12';
$product-us-12-x: 336px;
$product-us-12-y: 224px;
$product-us-12-offset-x: -336px;
$product-us-12-offset-y: -224px;
$product-us-12-width: 112px;
$product-us-12-height: 112px;
$product-us-12-total-width: 448px;
$product-us-12-total-height: 336px;
$product-us-12-image: '../../imgs/other/sprites/aboutus-sprite.png';
$product-us-12: (336px, 224px, -336px, -224px, 112px, 112px, 448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', 'product-us_12', );
$spritesheet-width: 448px;
$spritesheet-height: 336px;
$spritesheet-image: '../../imgs/other/sprites/aboutus-sprite.png';
$spritesheet-sprites: ($product-us-01, $product-us-02, $product-us-03, $product-us-04, $product-us-05, $product-us-06, $product-us-07, $product-us-08, $product-us-09, $product-us-10, $product-us-11, $product-us-12, );
$spritesheet: (448px, 336px, '../../imgs/other/sprites/aboutus-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
