/* footer */
.sj_footer {
  background: #0039a0;
}

.sj_map-box {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.sj_map-nav {
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  padding: 70px 0;
}

.sj_map-nav,
.sj_map-menu {
  padding-left: 0;
}

.sj_map-item {
  flex-grow: 1;
  list-style: none;
}

.sj_map-item .sj_title {
  font-size: 14px;
  letter-spacing: 0.25em;
  line-height: 24px;
  color: #d3d3d3;
  font-weight: bold;
}

.sj_map-menu li {
  list-style: none;
}

.sj_map-menu li a {
  font-size: 14px;
  line-height: 24px;
  color: #c3c3c3;
}

.sj_map-menu li a:hover {
  text-decoration: underline;
}

/* user service */
.sj_user_service {
  font-size: 12px;
  color: #ededed;
}

/* qrcode */
.sj_qrcode {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 180px;
}
.sj_qrcode img {
  width: 140px;
  height: 140px;
}

.sj_qrcode div {
  text-align: center;
  font-size: 14px;
  color: #c3c3c3;
  line-height: 1.5;
}

/* copyright */
.sj_copyright {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 18px;
  background: #00206b;
}

.sj_copyright p {
  font-size: 14px;
  color: #fff;
  line-height: 1.0;
  text-align: center;
}

@media(min-width: 992px) {
  .sj_user_service {
    position: absolute;
    right: 324px;
    bottom: 30px;
  }

  .sj_user_service span {
    margin-left: 40px;
  }

  .sj_map-nav .sj_arrow-more span {
    display: none;
  }
}

@media(max-width: 991px) {
  .sj_user_service span {
    display: none;
  }

  .sj_qrcode {
    text-align: center;
  }

  .sj_map-nav .sj_arrow-more span {
    display: none;
  }
}

@media(max-width: 576px) {
  .sj_map-item {
    width: 100%;
  }

  .sj_map-item .sj_title {
    display: block;
    padding: 1em 0;
    font-size: 16px;
  }

  .sj_map-menu {
    display: none;
  }

  .sj_map-menu li {
    padding: 0 20px;
  }
  
  .sj_map-nav .sj_arrow-more span {
    display: block;
  }

  .sj_map-nav .sj_arrow-more span:before {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  .sj_map-nav .sj_arrow-more span:after {
    background: #fff;
  }

  .sj_qrcode {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

@media(max-width: 991px) {
  .sj_map-box { 
    margin-left: 20px;
    justify-content: center;
  }
}