
// header

/* info */
.sj_info {
  text-align: right;
  background: #2c2c2c;
}

.sj_info .sj_date_key,
.sj_info .sj_date_value {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  transform: scale(0.75)
}

.sj_info .sj_date_key {
  margin-right: -20px;
}

/* nav */
.sj_nav {
  width: 100%;
  padding: 6px 0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
}

.sj_nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  background: #fff;
  transition: all .3s linear;
}

.sj_nav-show {
  min-width: 100%;
}

.sj_logo {
  vertical-align: middle;
}

.sj_logo img {
  width: 181px;
  height: 53px;
}

.sj_navbar {
  height: 53px;
  overflow: hidden;
}

.sj_tabs {
  overflow: hidden;
}

.sj_navbar-container {
  position: relative;
  width: 100%;
}

.sj_navbar-container::-webkit-scrollbar{
  display: none;
}

.sj_navbar-container::before,
.sj_navbar-container::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 9;
  width: 2em;
  height: 100%;
}

.sj_navbar-container::before {
  left: 0;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sj_navbar-container::after {
  right: 0;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sj_navbar-box{
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: flex-end;

  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  white-space: nowrap;
}

.sj_navbar-box {
  padding: 1em 0;
  padding-left: 0;
}

.sj_navbar li {
  position: relative;
  flex-grow: 1;
  padding: 10px 0;
  margin: 0 8px;
  list-style: none;
  text-align: center;
}

.sj_navbar li a {
  padding: 6px 10px;
  font-size: 14px;
  color: #2c2c2c;
  border-bottom: 4px solid #ffffff;
}

.sj_navbar li a:after,
.sj_navbar li.attive a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 20%;
  height: 4px;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.sj_navbar li:hover a:after,
.sj_navbar li.active a:after {
  width: 100%;
  background-color: #1953c9;
}



@media(max-width: 991px) {
  .sj_info .sj_wrapper {
    display: none;
  }

  .sj_navbar {
    margin-left: 0;
    margin-top: 65px;
  }

  .sj_logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
  }

  .sj_logo img {
    margin: 15px;
  }

  .sj_nav-fixed {
    display: none;
  }
}

@media(min-width: 992px) {
  .sj_info .sj_wrapper {
    padding-right: 200px;
  }

  .sj_nav .sj_wrapper {
    display: flex;
  }
  
  .sj_navbar {
    width: 900px;
    margin-left: 145px;
  }

  .sj_nav-fixed {
    margin-top: -65px;
  }

  .sj_nav-show { 
    margin-top: 0;
  }
}