.sj_tabs-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border-radius: 4px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sj_tabs-container::-webkit-scrollbar {
  display: none;
}

.sj_tabs-container::before,
.sj_tabs-container::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 9;
  width: 2em;
  height: 100%;
}

.sj_tabs-container::before {
  left: 0;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sj_tabs-container::after {
  right: 0;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sj_tab-box {
  position: relative;
  padding-bottom: 2em;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  white-space: nowrap;
}

.line {
  position: absolute;
  bottom: 2em;
  left: 0;
  z-index: 1;

  width: 0px;
  height: 5px;
  background: #f5533d;
}

.tabs {
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: flex-end;
}

.tab-item {
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
}

.tab-item.active,
.tab-item:hover {
  color: #f5533d;
}

.tab-content {
  position: relative;
  display: none;
  width: 100%;
  padding: 10px;
}

.show {
  display: block;
  -webkit-animation: move .4s linear forwards;
  animation: move .4s linear forwards;
}

@keyframes move {
  from {
      top: 50px;
      opacity: 0
  }

  to {
      top: 0px;
      opacity: 1
  }
}