.header { 
  width: 100%;
  background: burlywood;
}
.header ul {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
.header ul:after,
.header ul:before {
  display: table;
  content: ''
}

.header ul:after {
  clear: both;
}
.header li {
  list-style: none;
  padding: 0 10px;
  float: left;
}

.header li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}