@import "@css/utils/normalize.scss";
@import "@css/utils/inital.scss";
@import "@css/path.scss";

@font-face {
  font-family: Adobe;
  src: url('#{$font-path}/kt-GB2312.ttf');
}

@font-face {
  font-family: GB;
  src: url('#{$font-path}/kt-GB2312.ttf');
}

a {
  text-decoration: none;
}

.multi-line {
  position: relative;
}

.multi-line:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.sj_arrow-more {
  position: relative;
  top: 0.5em;
}

.sj_arrow-more span {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-top: 6px;
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.sj_arrow-more.active span {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sj_arrow-more span:before,
.sj_arrow-more span:after {
  position: absolute;
  content: "";
  display: inline-block;
}

.sj_arrow-more span:before {
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  border-top: 2px solid #6d6d6d;
  border-right: 2px solid #6d6d6d;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sj_arrow-more span:after {
  top: 0;
  right: 0;
  width: 2px;
  height: 18px;
  background: #6d6d6d;
}

@media(min-width: 992px) {
  .container,
  .sj_wrapper {
    width: 1226px;
    margin: 0 auto;
  }
}

@media(max-width: 576px) {
  .container,
  .sj_wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}