/* partner */
.sj_partner {}

.sj_partner-list {
  width: 1280px;
  padding: 0;
  margin: 0 -27px;
}

.sj_partner-item {
  float: left;
  list-style: none;
  padding: 24px 16px;
}

.sj_partner-item img {
  width: 288px;
  height: 96px;
}