doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= htmlWebpackPlugin.options.title
    
  body
    // header
    include ./components/commons/header/index.pug
    // container
    include ./components/commons/container/index.pug
    // footer
    include ./components/commons/footer/index.pug