include ../block.pug
- var data = require('@data/sxy')

div(class="tab-content sj_sxy sj_school show")
  +block-template(data.school)
div(class="tab-content sj_sxy sj_celebrites")
  +block-template(data.celebrites)
div(class="tab-content sj_sxy sj_classroom")
  +block-template(data.classroom)