extends ./template/index.pug

block banners
  include ./components/commons/banner/index.pug

block contents
  //- 金融产品
  include ./components/product/index.pug
  //- about us
  include ./components/aboutus/index.pug
  //- partner
  include ./components/partner/index.pug
