extends ./template.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  -
    var shzr = {
      cn_name: '社会责任',
      en_name: 'SOCIAL RESPONSIBILITY',
      tabs: [
        {
          cn_name: '责任体系',
          en_name: 'RESPONSIBILITY SYSTEM',
          type: 'system'
        }, {
          cn_name: '社会公益',
          en_name: 'SOCIAL WELFARE',
          type: 'welfare'
        }, {
          cn_name: '光彩事业',
          en_name: 'GLORIOUS CAREER',
          type: 'career'
        }
      ]
    }
  
  +block-title(shzr.cn_name, shzr.en_name)

  +tab(shzr.tabs)
    
  include ./components/second/shzr/index.pug
