extends ./template/index.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  - var shzr = require('@data/sidenav.js').shzr
  
  +block-title(shzr.cn_name, shzr.en_name)

  +tab(shzr.tabs)
    
  include ./components/second/shzr/index.pug
