extends ./template/index.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  - var sxy = require('@data/sidenav.js').sxy
  
  +block-title(sxy.cn_name, sxy.en_name)

  +tab(sxy.tabs)
    
  include ./components/second/sxy/index.pug
