extends ./template/index.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  - var ywbk = require('@data/sidenav.js').ywbk
  
  +block-title(ywbk.cn_name, ywbk.en_name)

  +tab(ywbk.tabs)

  include ./components/second/ywbk/index.pug
