extends ./template.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  -
    var ywbk = {
      cn_name: '业务板块',
      en_name: 'BUSINESS SECTOR',
      tabs: [
        {
          cn_name: '互联网金融',
          en_name: 'ONLINE FINANCE',
          type: 'finance'
        }, {
          cn_name: '全品类金融',
          en_name: 'WHOLE CATEGORY FINANCE',
          type: 'allfinance'
        }, {
          cn_name: '商业地产',
          en_name: 'COMMERCIAL REAL ESTATE',
          type: 'estate'
        }, {
          cn_name: '餐饮',
          en_name: 'RESTAURANT',
          type: 'restaurant'
        }, {
          cn_name: '文化',
          en_name: 'CULTURE',
          type: 'culture2'
        }, {
          cn_name: '大健康',
          en_name: 'BIG HEALTH',
          type: 'health'
        }
      ]
    }
  
  +block-title(ywbk.cn_name, ywbk.en_name)

  +tab(ywbk.tabs)

  include ./components/second/ywbk/index.pug
