extends ./template/index.pug

block banners
  include ./components/commons/banner/index.pug

block contents

  include ./components/commons/title/block-title.pug
  include ./components/commons/tab/index.pug

  - var zjsj = require('@data/sidenav.js').zjsj
  
  +block-title(zjsj.cn_name, zjsj.en_name)

  +tab(zjsj.tabs)

  include ./components/second/zjsj/index.pug

