//- partner
include ../commons/title/index-title.pug

-
  var path = require('path')

  function loadImg(str) {
    return path.join(__dirname, 'assets/imgs/other/' + str)
  }

  var partner = {
    cn_name: '合作伙伴',
    en_name: 'PARTNER',
    list: [
      {
        img: loadImg('index/partner-1.jpg'),
        alt: '中国银行'
      },
      {
        img: loadImg('index/partner-2.jpg'),
        alt: '中国工商银行'
      },
      {
        img: loadImg('index/partner-3.jpg'),
        alt: '中国招商银行'
      },
      {
        img: loadImg('index/partner-4.jpg'),
        alt: '银联'
      },
      {
        img: loadImg('index/partner-5.jpg'),
        alt: '建设银行'
      },
      {
        img: loadImg('index/partner-6.jpg'),
        alt: '交通银行'
      },
      {
        img: loadImg('index/partner-7.jpg'),
        alt: '中国民生银行'
      },
      {
        img: loadImg('index/partner-8.jpg'),
        alt: '中国农业银行'
      }
    ]
  }

div(class="sj_partner")

  +index-title(partner.cn_name, partner.en_name)

  ul(class="sj_partner-list clearfix")
    each item in partner.list && partner.list.length ? partner.list : []
      div(class="sj_partner-item")
        img(src=item.img alt=item.alt)