.sj_index-title {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.sj_index-title span {
  display: inline-block;
}

.sj_index-title span:nth-of-type(1) {
  font-size: 24px;
  line-height: 1.0;
  color: #2962d8;
}

.sj_index-title span:nth-of-type(2) {
  font-size: 16px;
  line-height: 1.0;
  color: #0f3177;
}

.sj_index-title div {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 18px;
  margin-bottom: 14px;
  background: #cfcfcf;
}

.sj_index-title div:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: inline-block;
  width: 35px;
  height: 3px;
  margin-left: -17px;
  background: #c62631;
}
