.sj_second-title {
  padding: 78px 0;
  text-align: center;
}

.sj_second-title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.0;
}

.sj_second-title span:nth-of-type(1) {
  font-size: 28px;
  color: #fff;
}

.sj_second-title span:nth-last-of-type(1) {
  font-size: 18px;
  color: #a7a7a7;
}