<!-- info -->
div(class="sj_info")
  div(class="sj_wrapper")
    div(class="sj_date_key") 工作时间：
    div(class="sj_date_value") 9:00-18:00 周一至周五

- var loadImg = require('@utils/load-img')

mixin nav(nav)
  div(class="sj_wrapper")
    div(class="sj_logo")
      a(href="/")
        img(src=loadImg('logo.png') alt='圣捷集团')
    ul(class="sj_navbar")
      each item in nav ? nav : []
        li
          a(href=item.href)= item.text

- var nav = require('@data/nav')

//- nav
div(class="sj_nav")
  +nav(nav)

//- fixed nav
div(class="sj_nav sj_nav_fixed")
  +nav(nav)