include ../block.pug
- var data = require('@data/zjsj')

div(class="tab-content sj_shzr sj_system show")
  +block-template(data.system)
div(class="tab-content sj_shzr sj_welfare")
  +block-template(data.welfare)
div(class="tab-content sj_shzr sj_career")
  +block-template(data.career)