include ../block.pug

- var data = require('@data/zjsj')
 


div(class="tab-content sj_zjsj sj_investment show")
  +block-template(data.investment)
div(class="tab-content sj_zjsj sj_speech")
  +block-template(data.speech)
div(class="tab-content sj_zjsj sj_event")
  +block-template(data.events)
div(class="tab-content sj_zjsj sj_culture")
  +block-template(data.culture)
div(class="tab-content sj_zjsj sj_strategy")
  +block-template(data.strategy)
div(class="tab-content sj_zjsj sj_team")
  +block-template(data.team)