include ../block.pug

-
  var path = require('path')

  function loadImg(str) {
    return path.join(__dirname, 'assets/imgs/other/' + str)
  }

  var data = {
    investment: [
      {
        title: '',
        content: [
          {
            type: 'text',
            text: '北京圣捷投资管理集团有限公司（以下简称圣捷集团）总部位于北京·高碑店，前身为圣捷投资管理（北京）有限公司，成立于2003年。圣捷集团一直致力于为高净值客户提供全球化多视角的财富管理、生活健康管理服务。服务领域涵盖财富管理、健康管理、品质消费等。'
          },
          {
            type: 'text',
            text: '集团以互联网IT技术、大数据技术为依托，覆盖互联网金融、证券基金、商业地产、医疗美容、文化、餐饮、大健康等行业，为广大用户提供多场景、多元化的定制服务。通过金融+实体产业+互联网三位一体的商业模式，为广大用户提供全方位的服务。'
          },
          {
            type: 'text',
            text: '经过10余年发展，圣捷集团旗下现有圣捷财富（北京）投资管理有限公司、中富金伟商业保理有限公司、北京艺鸣文化传媒有限公司、北京白鹿泛城餐饮管理有限公司、北京诗冉健康管理中心、聚融行汽车供应链金融公司、聚融行汽车供应链金融有限公司、鸿通金控科技（北京）有限公司等，共同组成圣捷集团6大业务板块。'
          },
          {
            type: 'text',
            text: '同时，集团与博时基金管理有限公司、北京中融致远汽车销售服务有限公司、富滇银行股份有限公司、北京盈科律师事务所、富友集团、中兴嘉盈（北京）投资担保有限公司、阿里云等强强联合'
          },
          {
            type: 'text',
            text: '面对激烈的市场竞争、多层次的用户要求以及日趋完善的行业监管，未来圣捷集团在为客户提供服务的过程中，将从产业多元化、公司经营专业化、客户服务品质化、经营理念和规划等多个方面不断提升，以实际行动助推整个行业的健康和谐发展。'
          }
        ]
      }
    ],
    speech: [
      {
        title: '',
        content: [
          {
            type: 'img',
            width: '',
            height: '',
            alt: '董事长-高伟伟',
            src: loadImg('leader/高伟伟.png')
          },
          {
            type: 'text',
            text: '尊敬的各位朋友：'
          },
          {
            type: 'text',
            text: '首先，衷心感谢您多年来对圣捷集团的一贯支持与信任！。'
          },
          {
            type: 'text',
            text: '十年前，刚出校门的我不顾家人的反对毅然放弃了稳定的工作，选择了创业。我的梦想，就是通过自己不懈的努力，创造财富，实现自我成就感，体现自我价值。“无悔青春，从心而为”，是我接管圣捷的初心。'
          },
          {
            type: 'text',
            text: '圣捷人都拥有同样的梦想——“无悔青春，从心而为！”每一位圣捷人也都在为实现这个梦想而不懈拼搏。我们始终相信，我们的事业上利国、中利民、下利企，具有广阔的发展空间。圣捷人想别人所不敢想、为别人所不敢为，谱写了正气、激情、突破的“圣捷精神”。我们更相信，要实现我们的梦想，需要一个强大的团队来支撑。为此，圣捷人在工作和生活中相互支持与感染，团结拼搏，永不放弃。'
          },
          {
            type: 'text',
            text: '经过10余年的拼搏努力，我们逐步发展壮大，圣捷集团基于儒家文化建立了富有中国传统“仁、义、礼、智、信”的平台文化，以圣人之道为依托，坚持“圣智之托，捷成以报”的理念，已成为国内领先的、专业的高端投融资服务平台。作为传统金融体系的有力补充和普惠金融的积极实践者，圣捷集团成功地为数千家中小微企业提供了优质的金融服务，总金额达200多亿元，帮助广大中小微企业在激烈的市场竞争中快速的发展，进而成为各行业的佼佼者。'
          },
          {
            type: 'text',
            text: '“回归金融本源，服务实体经济”2017年10月13日，国务院办公厅印发《关于积极推进供应链创新与应用的指导意见》，再次要求推动供应链金融服务实体经济。圣捷集团大力响应国家号召，坚守金融本源，服务实体经济，聚焦餐饮、医疗、美容、证券基金、房产证券化、文化、教育、大健康等行业，坚持公开、公正、透明的原则，在发展过程中不断的创新，打造独特的运营模式和核心竞争力，深深植入中国“互联网+金融”最具发展活力和高增长潜力的行业，寻找风险最小值的项目，为企业和国家创造无限财富。'
          },
          {
            type: 'text',
            text: '感恩支持我们实现梦想、一路陪伴的朋友们，感恩风雨同舟的伙伴们，不忘初心，砥砺前行！圣捷真心希望携手有梦想的各界朋友，共努力、齐分享，用激情成就梦想，用行动铸就辉煌！'
          },
          {
            type: 'text',
            text: '——董事长高伟伟'
          }
        ]
      }
    ],
    strategy: [
      {
        title: '',
        content: [
          {
            type: 'text',
            text: '未来的圣捷集团，将以强大的资本运作能力，以及资源整合能力，让圣捷飞速发展，成长为中国民族企业的中坚力量。并且，以回馈社会、报效国家为使命，不断进取、不断创新、为打造百年圣捷的民族品牌，而倾尽全力。'
          }
        ]
      },
      {
        title: '创新发展',
        content: [
          {
            type: 'text',
            text: '建立和完善创新业务发展的资源配置和激励机制，引进创新型人才；大力鼓励原创性创新，形成有市场影响力的产品；'
          }
        ]
      },
      {
        title: '国际化发展',
        content: [
          {
            type: 'text',
            text: '立足北京、西安等国内一线大城市，产业覆盖全国，走向世界，国内、国际业务相互促进，共同持续发展；'
          }
        ]
      },
      {
        title: '多元化发展',
        content: [
          {
            type: 'text',
            text: '以6大板块为核心，以新型投资业务为重点，着力构建多品种多策略、跨市场、低风险的投资产业。'
          }
        ]
      },
      {
        title: '综合实力',
        content: [
          {
            type: 'text',
            text: '打造清晰的发展战略和高效的执行力，高效有良好职业操守的专业化团队，完善的风控体系，高水平的管理团队。'
          }
        ]
      },
      {
        title: '',
        content: [
          {
            type: 'text',
            text: '圣捷人相信，不远的将来，圣捷集团将屹立于中国民族企业的前列，并成为民族企业的骄傲，为实现中华民族伟大复兴而努力，为中国梦而奋斗。'
          },
          {
            type: 'text',
            text: '天行健，圣捷人当自强不息，一代又一代圣捷人，将传承集团使命，永不停歇。'
          }
        ]
      }
    ],
    events: [
      {
        title: '',
        content: [
          {
            type: 'text',
            text: '圣捷集团在过去的10余年中深耕实体产业，现有互联网金融、全品类金融、商业地产、餐饮、文化、大健康6大板块；下辖圣捷财富（北京）投资管理有限公司、中富金伟商业保理有限公司、北京艺鸣文化传媒有限公司、北京白鹿泛城餐饮管理有限公司、北京诗冉健康管理中心、聚融行汽车供应链金融公司、聚融行汽车供应链金融有限公司、鸿通金控科技（北京）有限公司等。'
          },
          {
            type: 'text',
            text: '现已达到年营业额30多亿元的规模，净利润逐年提高，2017年实现纯利润为经营额的10%。'
          }
        ]
      },
      {
        title: '2003年',
        content: [
          {
            type: 'text',
            text: '集团前身“圣捷投资管理（北京）有限公司”在北京成立；'
          }  
        ]
      },
      {
        title: '2004年',
        content: [
          {
            type: 'text',
            text: '5月，圣捷投资管理（北京）有限公司与民生银行、中国银行以及招商银行合作，实现与银行业务的对接；'
          }
        ]
      },
      {
        title: '2008年',
        content: [
          {
            type: 'text',
            text: '9月7日，在北京政协礼堂，圣捷投资管理（北京）有限公司与多家银行签约，正式建立战略合作伙伴关系；'
          }
        ]
      },
      {
        title: '2010年',
        content: [
          {
            type: 'text',
            text: '圣捷投资管理（北京）有限公司信用增利债券型证券投资基金开始募集，成功募集40亿；'
          }
        ]
      },
      {
        title: '2013年',
        content: [
          {
            type: 'text',
            text: '成立多家分公司，步入大力发展期'
          },
          {
            type: 'text',
            text: '03/2013——成立朝阳分公司'
          },
          {
            type: 'text',
            text: '05/2013——与盈科律师事务所达成长期法律顾问'
          },
          {
            type: 'text',
            text: '08/2013——成立东城分公司'
          },
          {
            type: 'text',
            text: '08/2013——与渤海国际信托有限公司成为合作伙伴'
          },
          {
            type: 'text',
            text: '10/2013——与安信信托投资股份有限公司成为合作伙伴'
          },
          {
            type: 'text',
            text: '10/2013——与新华信托股份有限公司成为合作伙伴'
          },
          {
            type: 'text',
            text: '10/2013——与中兴嘉盈（北京）投资担保有限公司达成战略合作'
          }
        ]
      },
      {
        title: '2014年',
        content: [
          {
            type: 'text',
            text: '06/2014——成立平谷分公司'
          },
          {
            type: 'text',
            text: '12/2014——望京分公司开业'
          }
        ]
      },
      {
        title: '2015年',
        content: [
          {
            type: 'text',
            text: '01/2015——线上投资平台“信可贷”项目启动'
          },
          {
            type: 'text',
            text: '04/2015——信可贷上线'
          },
          {
            type: 'text',
            text: '05/2015——三里屯分公司开业'
          },
          {
            type: 'text',
            text: '7/2015——上海分公司开业'
          },
          {
            type: 'text',
            text: '09/2015——河北分公司开业'
          }
        ]
      },
      {
        title: '2016年',
        content: [
          {
            type: 'text',
            text: '“公益体育我在行动”IWCF冠军公益计划、“公益体育，我在行动”系列公益活动等活动上，荣获公益荣誉奖牌。'
          }
        ]
      },
      {
        title: '2017年',
        content: [
          {
            type: 'text',
            text: '1月10日——信可贷荣获“2016互联网金融企业社会责任奖”'
          },
          {
            type: 'text',
            text: '10月20日——信可贷成功签约富滇银行'
          }
        ]
      },
      {
        title: '2018年',
        content: [
          {
            type: 'text',
            text: '3月16日——青少年校园体育实验基地'
          },
          {
            type: 'text',
            text: '3月28日——聚融行与融车行战略合作'
          },
          {
            type: 'text',
            text: '5月18日——圣捷商学院成立'
          },
          {
            type: 'text',
            text: '5月18日——“芳华三载，感谢有你”信可贷三周年庆典'
          },
          {
            type: 'text',
            text: '7月5日——汽车供应链收益计划上线'
          },
          {
            type: 'text',
            text: '7月——甲乙商业上线'
          },
          {
            type: 'text',
            text: '9月——圣捷集团正式成立，更名为：北京圣捷投资管理集团有限公司（简称：圣捷集团）'
          }
        ]
      }
    ],
    culture: [
      {
        title: '',
        content: [
          {
            type: 'd-title',
            title: {
              text: '创业使命',
              subtext: '“创辉煌，益天下”'
            }
          },
          {
            type: 'd-title',
            title: {  
              text: '经营原则',
              subtext: '“以诚相待，以专立业”'
            }
          },
          {
            type: 'd-title',
            title: {
              text: '管理理念',
              subtext: '“群策群力，敢于担当”'         
            }
          },
          {
            type: 'd-title',
            title: {
              text: '企业文化',
              subtext: '“知行合一，至善未来”'     
            }
          }
        ]
      }
    ],
    team: [
      {
        title: '',
        content: [
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/高伟伟.png')
            },
            right: {
              name: '高伟伟',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团创始人兼董事长'
                },
                {
                  type: 'text',
                  text: '圣捷商学院创办人'
                },
                {
                  type: 'text',
                  text: '北京河南商会副会长'
                },
                {
                  type: 'text',
                  text: '北京市朝阳区女企业家协会副会长'
                },
                {
                  type: 'text',
                  text: '北京大学汇丰商学院金融学硕士学位'
                },
                {
                  type: 'text',
                  text: '在财富管理团队运营管理方面有着丰富的经验。首创“三角”经营策略，从管理方式、理财团队、风控体系整体把控圣捷集团，使集团健康发展。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/尤相举.png')
            },
            right: {
              name: '尤相举',
              list: [
                {
                  type: 'text',
                  text: '圣捷项目总经理'
                },
                {
                  type: 'text',
                  text: '圣捷集团北京三里屯分公司总经理'
                },
                {
                  type: 'text',
                  text: '中兴嘉盈（北京）投资担保有限公司总经理'
                },
                {
                  type: 'text',
                  text: '曾在多家金融机构担任项目负责人，从业十年，具有丰富的项目筛选经验和投资风险意识。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/王正通.png')
            },
            right: {
              name: '王正通',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团北京三里屯分公司总经理'
                },
                {
                  type: 'text',
                  text: '具有敏锐的金融市场洞察力和执行力，2013年就职圣捷集团，在财富管理团队运营管理方面有丰富的经验秉承客户至上，诚信第一的原则，做专业的经理人。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/王啸斌.png')
            },
            right: {
              name: '王啸斌',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团通州分公司总经理'
                },
                {
                  type: 'text',
                  text: '首都经济贸易大学校友导师'
                },
                {
                  type: 'text',
                  text: '曾就职于宜信，原建元集团旗下金融板块总经理，原百合贷北京大区总经理、股东及战略合伙人。'
                },
                {
                  type: 'text',
                  text: '现为首都经济贸易大学校友企业导师，向上文化传媒创始人，客域家诚科技创始人，信可贷联合创始人'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/刘芳燕.png')
            },
            right: {
              name: '刘芳燕',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团石家庄分公司总经理'
                },
                {
                  type: 'text',
                  text: '具有丰富的销售和管理经验，从业十年，积累了深厚的金融知识，2013年就职圣捷集团，凭借敏锐的市场意识和洞察力在圣捷集团高速发展的五年里做出了突出贡献。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/杨航.png')
            },
            right: {
              name: '杨航',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团运营部总经理兼代理总监'
                },
                {
                  type: 'text',
                  text: '战略合伙人'
                },
                {
                  type: 'text',
                  text: '曾任北京首盛财富科技有限公司，CCTV《互联网金融观察》栏目总制片人，前盈科斑马传媒有限公司CEO。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/姬亚兰.png')
            },
            right: {
              name: '姬亚兰',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团公共关系总经理'
                },
                {
                  type: 'text',
                  text: '曾任职中国电子科技集团公司工程师、中国国家档案馆馆员。'
                }
              ]
            }
          },
          {
            type: 'card',
            left: {
              width: '',
              height: '',
              alt: '',
              src: loadImg('leader/胡文红.png')
            },
            right: {
              name: '胡文红',
              list: [
                {
                  type: 'text',
                  text: '圣捷集团西安分公司总经理'
                },
                {
                  type: 'text',
                  text: '广东海亿娱乐传媒联合创始人、曾就职中国银行'
                },
                {
                  type: 'text',
                  text: '2013年进入圣捷集团至今，在多年的经营管理中，拥有一套高效极速的管理模式，使得企业团队稳健发展！'
                }
              ]
            }
          }
        ]
      }
    ]
  }
 


div(class="tab-content sj_zjsj sj_investment show")
  +block-template(data.investment)
div(class="tab-content sj_zjsj sj_speech")
  +block-template(data.speech)
div(class="tab-content sj_zjsj sj_event")
  +block-template(data.events)
div(class="tab-content sj_zjsj sj_culture")
  +block-template(data.culture)
div(class="tab-content sj_zjsj sj_strategy")
  +block-template(data.strategy)
div(class="tab-content sj_zjsj sj_team")
  +block-template(data.team)