- var strategy = require('./zjsj.js').strategy

each item in strategy && strategy.length ? strategy : []
  if item.list
    ul
      each sp in item.list
        li
          div(class="sj_i_one")= sp.name
          div(class="sj_i_two")
            p= sp.text
  else
    p= item