- var team = require('./zjsj.js').team


each item in team && team.length ? team : []
  div(class="sj_card")
    img(src=item.img alt=item.name)
    div(class="sj_t_desc")
      p(class="sj_team_name")= item.name
      each title in item.titles && item.titles.length ? item.titles : []
        p= title